.App {
  text-align: center;
}

.App > div {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 50% 30%;
}

body {
  background-color: rgb(214, 214, 214);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

div > ul > li {
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  text-decoration: none;
  float: left;
}

div > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li > a:hover {
  background-color: #111111;
}
.flex-container {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  overflow: auto;
}

#Category-container {
  border: 1px solid rgb(126, 126, 126);
  padding: 10px;
  margin: 10px;
  float: right;
  width: 200px;
  grid-column-start: 4;
  grid-column-end: 5;
}

.tabs {
  display: grid;
  margin: 1em 5em 0em 5em;
}

.tab-list {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-left: 0;
  display: flex;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 1.5rem 2rem;
}

.tab-list-active {
  background-color: rgb(148, 148, 148);
  border: solid rgb(0, 0, 0);
  border-width: 1px 1px 0 1px;
}

.tab-content {
  margin: 2em 5em 0em 5em;
  font-family: Verdana, sans-serif;
  font-style: normal;
  width: 300px;
}
.tab-inactive {
  display: none;
}

.tab-active  {
  display: block;
  margin: 2em 5em 0em 5em;
  font-family: Verdana, sans-serif;
  font-style: normal;
}

#bilde > svg {
  position: absolute;
  width: 200px;
  height: 200px;
  border-style: groove;
  padding: 5px;
  margin: 5px;
  background-color: white;
}

#bilde {
  position: relative;
  margin: auto;
  display: block;
  right: 100px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.diktTekst {
  text-align: center;
  background-color: red;
  margin: auto;
  width: 50%;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.diktTittel {
  font-style: italic;
}

