#Category-container {
    background-color: #064e91;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 10px;
    min-width: 120px;
    color: #EDF5E1;
    height: 100%;
    border-radius: 15px;
}
/*/////////////////////////////////////////////////
Masse av denne stylingen trengs ikke lengre, brukt tutorial og mye av det gjelder ikke oss.
*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #064e91;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #EDF5E1;
}
#sidenavOpenBtn{
    position: absolute;
    top: 20px;
    right: 10px;
    color: #EDF5E1;
}

/*
Media Queries som sjekker om skjermen er både for liten og for stor, for sto gir den visning av desktop
siden eller fjerner den kaneppen så vi har standaren
 */
@media only screen and (max-width: 600px) {
    #nonMobileDiv {
        display: none;
    }
    #sidenavOpenBtn {
        font-size: 30px;
        cursor: pointer;
    }
    .diktTekst > p{
        font-size: 3vw;
    }

}

@media only screen and (min-width: 601px) {
    #sidenavOpenBtn {
        display: none;



    }
}
